<app-nav-bar></app-nav-bar>

<div class="container mt-4">
  <div
    class="row d-flex justify-content-center mt-4 fs-4 fw-semibold text-danger"
    *ngIf="selectedItems.length == 0"
  >
    Your cart is empty.
  </div>
  <div
    class="row d-flex justify-content-center mt-3"
    *ngFor="let item of selectedItems"
  >
    <div class="col-5 sm-col-10">
      <div
        class="d-flex justify-content-center item"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="40"
      >
        <div>
          <p class="name">{{ item.name }}</p>
          <p class="ps-1">{{ item.category }}</p>
        </div>
        <div><img class="drug-img" [src]="item.imgSrc" alt="" /></div>
        <div>
          <div>
            <p><strong>Quantity:</strong> {{ item.quantity }}</p>
          </div>
          <div>
            <p><strong>Price:</strong> {{ item.price }}$</p>
          </div>
          <div>
            <button
              class="btn btnn rounded-circle me-1"
              (click)="addToCart(item)"
            >
              +
            </button>
            <p class="quantity">
              {{ item.quantityAdded }}
            </p>
            <button
              class="btn btnn rounded-circle ms-1"
              (click)="removeFromCart(item)"
            >
              -
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="d-flex justify-content-center mt-4 fs-4 text-danger"
  *ngIf="selectedItems.length > 0"
>
  <a class="btno" href="#">Order Now</a>
</div>
