<app-nav-bar></app-nav-bar>
<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div>
      <img class="img" src="./assets/Images/landing2.jpg" alt="" />
    </div>
    <div class="right">
      <div>
        <h1>M E D L Y</h1>
        <br />
        <h1>Pharmacies</h1>
      </div>
      <div>
        <p class="paragraph">
          "it is easy to get a thousand prescriptions, but hard to get one
          single remedy"
        </p>
      </div>
      <div>
        <a href="#">
          <img class="store" src="./assets/Images/GP.svg" alt="" />
        </a>
        <a href="#">
          <img class="store" src="./assets/Images/iOS.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
