<div class="container">
  <div class="nav" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="40" fxLayout="row" fxLayoutAlign="space-between center">
      <a routerLink="">
        <img src="../../../assets/Images/logo.png" alt="logo" class="logo" />
      </a>
    </div>
    <div fxLayoutGap="10" fxLayout="row" fxLayoutAlign="space-around center">
      <a class="nav-link" routerLink="/Home">Home</a>
      <a class="nav-link" routerLink="/Cart">Cart</a>
      <a class="nav-link" routerLink="/Dashboard">Dashboard</a>
    </div>
  </div>
</div>
